*{
    margin: 0;
    padding: 0;
}

.wrapper2 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 390px;
    height: 350px;
    text-align: center;
    border: 3px solid rgb(6, 6, 6);
    border-radius: 12px;
    padding: 10px 20px;
    background: rgb(245, 249, 245);
    backdrop-filter: blur(20px);
    box-shadow: 15px 15px 15px 0 rgba(7, 7, 7, 0.5);
    animation-duration: 2s;
}

@keyframes wrapper{
  from{transform: scale(10%);}
}